<div class="container">
    <div class="row">
        <form class="row g-3 " (ngSubmit)="onUserSave()" [formGroup]="userForm">
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">First name</label>
              <input type="text" formControlName="firstName" class="form-control" id="validationCustom01" value="Mark" required>
              <div class="text-danger">
                @if(userForm.controls['firstName'].errors?.['required'] && userForm.controls['firstName'].touched){
                    <span >this is required</span>
                }
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Last name</label>
              <input type="text" formControlName="lastName" class="form-control" id="validationCustom02" value="Otto" required>
              @if(userForm.controls['lastName'].touched){

                  <div class="text-danger">
                    @if(userForm.controls['lastName'].errors?.['required']){
                        <span >this is required</span>
                    }
                    @if(userForm.controls['lastName'].errors?.['minlength']){
                        <span >Minimum 3 characters</span>
                    }
                  </div>
              }
            </div>
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                <input type="text" formControlName="userName" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">City</label>
              <input type="text" formControlName="city" class="form-control" id="validationCustom03" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">State</label>
              <select class="form-select" formControlName="state" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option value="Caracas">Caracas</option>
                <option value="Miami">Miami</option>
                <option value="New York">New York</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Zip</label>
              <input type="text" class="form-control" formControlName="zipCode" id="validationCustom05" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" formControlName="isAgree" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="col-12">

                <div class="text-danger">
                    @if(userForm.invalid === true){
                        <span >Respuestas incorrectas</span>
                    }
                  </div>
              <button class="btn btn-primary" [disabled]="userForm.invalid" type="submit">Submit form</button>
            </div>
          </form>
    </div>
</div>