<div class="row">
    <div class="col-3">
        <div class="bg-success p-3" *ngIf="divVisible">
            div 1
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary pt-3" *ngIf="number1 === number2">
            div2
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col-3 text-center">
        <button type="button" class="btn btn-danger" (click)="hideDiv()">hide</button>
        <button type="button" class="btn btn-success"(click)="showDiv()">show</button>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="number1" id="">
        <input type="text" [(ngModel)]="number2" id="">
    </div>
    <div class="col-2">
        {{number1 == number2}}
    </div>
</div>