<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Angular 19 Tutorial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="/data-binding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Directives NG
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/ng-class">NgClass</a></li>
              <li><a class="dropdown-item" routerLink="/ng-style">NgStyle</a></li>
              <li><a class="dropdown-item" routerLink="/ng-for">NgFor</a></li>
              <li><a class="dropdown-item" routerLink="/ng-if">NgIf</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/control-flow">Control Flow</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signal
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/signal">Signal</a></li>
              <li><a class="dropdown-item" routerLink="/linked-signal">Linked Signal</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Forms
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/template-forms">Template Forms</a></li>
              <li><a class="dropdown-item" routerLink="/reactive-forms">Reactive Forms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              API
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/get-api">Get API</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/life-cicle">Life Cycle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resource">resource</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>