<div class="row">
    <div class="col-3 pt-4" [ngStyle]="{'background-color':divBgColor, 'color':'blue'}">
        div 1
    </div>
    <div class="col-3 pt-4" [ngStyle]="{'background-color': isChecked == true ? 'teal':'blue'}">
        div 2
    </div>
    <div class="col-3" [ngStyle]="myCss">
        div 3
    </div>
</div>
<div class="row pt-4">
    <div class="col-3">
        <button type="button" class="btn btn-success" (click)="addDivColor('green')">Green</button>
        <button type="button" class="btn btn-danger" (click)="addDivColor('red')">Red</button>
    </div>
    <div class="col-3 pt-3">
        <input type="checkbox" [(ngModel)]="isChecked">
    </div>
</div>