<div class="row">
    <div class="col-3 pt-3" [ngClass]="divBgColor">
        div 1
    </div>
    <div class="col-3 pt-3" [ngClass]="isChecked == true ? 'bg-success' : 'bg-danger'">
        div 2
    </div>
    <div class="col-3 pt-3" [ngClass]="divClassName">
        Div 3
    </div>
    <div [class]="divBgColor">
        div 4
    </div>
</div>
<div class="row pt-3">
    <div class="col-3">
        <button type="button" class="btn btn-success"(click)="addDivColor('bg-success')">Add Green</button>
        <button type="button" class="btn btn-danger" (click)="addDivColor('bg-danger')">Add Danger</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked"> -{{isChecked}}
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="divClassName">
    </div>
</div>
